<div class="contact-info">
    <span class="icon-1">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
    </span>
    <div class="text">
      <h3>Adresse</h3>
      <p>{{ site.data.company.address }} {{ site.data.company.zipCode }} {{ site.data.company.city }}</p>
    </div>
  </div>
  <div class="contact-info">
    <span class='icon-1'>
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </span>
    <div class="text">  
      <h3>Contact</h3>
      <p>Tel: <a href="tel:{{ site.data.company.phone1 }}">{{ site.data.company.phone1 }}</a></p>
      <p>Mail: <a href="mailto:{{ site.data.company.email }}">{{ site.data.company.email }}</a></p>
      <p>Horaires : Du Lundi au Vendredi de 8h00 à 18h00</p>
    </div>
  </div>
  