<footer>
	<div class="container">
	   <div class="row">
		  <div class="col-sm-5 text-left">
			 <h2>Vérandas Création</h2>
			 <p>Leader dans la conception, la fabrication et l’installation de vérandas en bois et en aluminium depuis deux décennies, Vérandas Création est une société qui propose des prestations réfléchies et fiables pour tous vos projets de vérandas et de pergolas.</p>
			 <p>Faites le bon choix avec Véranda Création, l’expert de vos travaux de construction dans le 77.</p>
			 <br>
			 <ul class="social">
				<li><a href="{{ site.data.company.facebook }}" target="_blank"><span class="fa fa-facebook fa-fw"></span></a></li>
			 </ul>
			 <br>
		  </div>
		  <div class="col-sm-4 text-left">
			<h2>Contact</h2>
			<p>{{ site.data.company.address }} {{ site.data.company.zipCode }} {{ site.data.company.city }}</p>
			<p>Tel: <a href="tel:{{ site.data.company.phone1 }}">{{ site.data.company.phone1 }}</a></p>
			<p>Mail: <a href="mailto:{{ site.data.company.email }}">{{ site.data.company.email }}</a></p>
			<p>Horaires : Du Lundi au Vendredi de 8h00 à 18h00</p>
		  </div>
		  <div class="col-sm-3 text-left">
			 <h2>Liens utiles</h2>
			 <ul class="list1">
				<li><a class="{% if page.url == '/' %}active{% endif %}" href="{{ site.baseurl }}/">Accueil</a></li>
				<li><a class="{% if page.url == '/notre-entreprise' %}active{% endif %}" href="{{ site.baseurl }}/notre-entreprise">Notre entreprise</a></li>
				<li><a class="{% if page.url == '/verandas-bois' %}active{% endif %}" href="{{ site.baseurl }}/verandas-bois">Vérandas Bois</a></li>
				<li><a class="{% if page.url == '/verandas-aluminium' %}active{% endif %}" href="{{ site.baseurl }}/verandas-aluminium">Vérandas Aluminium </a></li>
				<li><a class="{% if page.url == '/veranda-seine-et-marne' %}active{% endif %}" href="{{ site.baseurl }}/veranda-seine-et-marne">Véranda Seine et Marne</a></li>
				<li><a class="{% if page.url == '/veranda-fontainebleau' %}active{% endif %}" href="{{ site.baseurl }}/veranda-fontainebleau">Véranda Fontainebleau</a></li>
				<li><a class="{% if page.url == '/veranda-melun' %}active{% endif %}" href="{{ site.baseurl }}/veranda-melun">Véranda Melun</a></li>
				<li><a class="{% if page.url == '/veranda-crecy-la-chapelle' %}active{% endif %}" href="{{ site.baseurl }}/veranda-crecy-la-chapelle">Véranda Crécy la Chapelle</a></li>
				<li><a class="{% if page.url == '/veranda-coulommiers' %}active{% endif %}" href="{{ site.baseurl }}/veranda-coulommiers">Véranda Coulommiers</a></li>
				<li><a class="{% if page.url == '/veranda-meaux' %}active{% endif %}" href="{{ site.baseurl }}/veranda-meaux">Véranda Meaux</a></li>
				<li><a class="{% if page.url == '/veranda-bailly-romainvilliers' %}active{% endif %}" href="{{ site.baseurl }}/veranda-bailly-romainvilliers">Véranda Bailly-Romainvilliers</a></li>
				<li><a class="{% if page.url == '/veranda-chessy' %}active{% endif %}" href="{{ site.baseurl }}/veranda-chessy">Véranda Chessy</a></li>
				<li><a class="{% if page.url == '/veranda-marne-la-vallee' %}active{% endif %}" href="{{ site.baseurl }}/veranda-marne-la-vallee">Véranda Marne la Vallée</a></li>
				<li><a class="{% if page.url == '/pergolas-aluminium-et-bois' %}active{% endif %}" href="{{ site.baseurl }}/pergolas-aluminium-et-bois">Pergolas aluminium et bois</a></li>
				<li><a class="{% if page.url == '/contact' %}active{% endif %}" href="{{ site.baseurl }}/contact">Contact</a></li>
				<li><a class="{% if page.url == '/devis' %}active{% endif %}" href="{{ site.baseurl }}/devis">Devis</a></li>
			 </ul>
		  </div>
	   </div>
	</div>
	<div class="text-center" id="bhinternet">
	   <a href="https://www.bhinternet.fr/" target="_blank">BHInternet - Création site internet | {{ 'now' | date: '%Y' }} | </a>
	   <a href="{{ site.baseurl }}/mentions-legales">Mentions légales</a>
	</div>
 </footer>