<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152871743-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-152871743-1');
    </script>

    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" type="image/x-icon" />

    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}" />
    <meta name="keywords" content="{{ page.keywords | default: site.keywords }}" />
    
    <!-- URL canoniques pour le SEO -->
    <link rel="canonical" href="{{ page.url | absolute_url }}">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/animate.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/global.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/bxslider.css' | relative_url }}" />
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/lightbox.css' | relative_url }}" />
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/clockpicker.css' | relative_url }}" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

</head>
