<form id="contactForm" method="post" action="{{ site.data.company.url.notify }}">
  <input type="hidden" name="lang" value="fr" />
  <input type="hidden" name="redirectUrl" value="{{site.data.company.url.redirect}}" />
  <input type="hidden" name="type" value="contact" />
  <input type="hidden" name="website" value="{{ site.data.company.website }}" />
  <input type="hidden" name="lang" value="{{ site.data.company.lang }}" />
  <input type="hidden" name="firstName" value="" />
  <input type="hidden" name="condition" value="on" />
  <input type="hidden" name="key" value="{{ site.data.company.recaptcha.server }}" />
  <div class="row home-contact">
    <div class="col-sm-12">
      <div class="form-group has-feedback">
        <input type="text" class="form-control " id="lastname" name="lastname" value="" placeholder="Nom">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group has-feedback">
        <input type="text" class="form-control " id="email" name="email" value="" placeholder="E-mail">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group has-feedback">
        <input type="text" class="form-control " id="phone" name="phone" value="" placeholder="Téléphone">
      </div>
    </div>
    <div class='col-sm-12'>
      <div class="form-group has-feedback">
        <textarea rows="6" name="message" class="form-control" id="message" placeholder='Message'></textarea>
      </div>
    </div>
  </div>
  <div class="div01"></div>
  <div class="row ">
    <div class="col-xs-12 text-center">
      <br>
      <button type='submit' name="precontact" class="button1">
        <span class='txt'>Envoyer</span>
      </button>
    </div>
  </div>
</form>