<form id="contactForm" method="post" action="{{ site.data.company.url.notify }}">
  <input type="hidden" name="lang" value="fr" />
  <input type="hidden" name="redirectUrl" value="{{site.data.company.url.redirect}}" />
  <input type="hidden" name="type" value="contact" />
  <input type="hidden" name="website" value="{{ site.data.company.website }}" />
  <input type="hidden" name="lang" value="{{ site.data.company.lang }}" />
  <input type="hidden" name="firstName" value="" />
  <input type="hidden" name="condition" value="on" />
  <input type="hidden" name="key" value="{{ site.data.company.recaptcha.server }}" />
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <i class="fa fa-user-o" aria-hidden="true"></i>
        <input required type="text" class="form-control" id="name" name="name" placeholder="Nom">
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <input required type="email" class="form-control" id="email" name="email" placeholder="E-mail">
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <input required type="tel" class="form-control" id="telephone" name="telephone" placeholder="Téléphone">
      </div>
    </div>

    <div class="col-sm-12">
      <div class="form-group">
        <i class="fa fa-comment-o" aria-hidden="true"></i>
        <textarea required name="message" class="form-control" rows="5" placeholder="Message"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-12" style="padding-left: 20px;">
      <div id="contact-form-response"></div>
      <div class="form-group d-flex justify-content-center">
        <div class="g-recaptcha" data-sitekey="{{ site.data.company.recaptcha.client}}">
        </div>
        <br />
        <input style="display: none" type="submit" value="Submit" class="wpcf7-wpcf7-submit" />
      </div>
    </div>
    <div class="col-xs-12">      
      <br><br>
      <button type="submit" class="btn button">Envoyer</button>
    </div>
  </div>
</form>