<div class="pre-devis">
   <form id="devisForm" method="post" action="{{ site.data.company.url.notify }}">
      <input type="hidden" name="lang" value="fr" />
      <input type="hidden" name="redirectUrl" value="{{site.data.company.url.redirect}}" />
      <input type="hidden" name="type" value="devis" />
      <input type="hidden" name="website" value="{{ site.data.company.website }}" />
      <input type="hidden" name="lang" value="{{ site.data.company.lang }}" />
      <input type="hidden" name="firstName" value="" />
      <input type="hidden" name="condition" value="on" />
      <input type="hidden" name="key" value="{{ site.data.company.recaptcha.server }}" />
      <div class="row pre-reservation">
         <div class="col-md-2 col-sm-6 clabel">
            <div class="padl form-group has-feedback">
               <div class="user ico2"></div>
               <input type="text" name="name" class="form-control" placeholder="Nom" required>
            </div>
         </div>
         <div class="col-md-2 col-sm-6 clabel">
            <div class="padl form-group has-feedback">
               <div class="email ico2"></div>
               <input type="email" name="email" class="form-control" placeholder="Email" required>
            </div>
         </div>
         <div class="col-md-2 col-sm-6 clabel">
            <div class="form-group has-feedback">
               <div class="phone ico2"></div>
               <input type="tel" name="phone" class="form-control" placeholder="Tél" required>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="form-group has-feedback">
               <select name="subject" class="form-control form-control1" id="subject" required>
                  <option value="">Prestation:</option>
                  <option value="Vérandas Bois">Vérandas Bois</option>
                  <option value="Vérandas Aluminium">Vérandas Aluminium</option>
               </select>
            </div>
         </div>
         
         <div class="col-md-3 col-sm-12 text-center">
            <button type="submit" class="button2 btn-form">
               <span class="txt">Envoyer</span>
            </button>
         </div>
         <div class="" style="display: flex; justify-content: center; padding: 5px;">
            <div id="devis-form-response"></div>
            <div class="form-group d-flex justify-content-center">
               <div class="g-recaptcha" data-sitekey="{{ site.data.company.recaptcha.client}}">
               </div>
               <br />
               <input style="display: none" type="submit" value="Submit" class="wpcf7-wpcf7-submit" />
            </div>
         </div>
      </div>
   </form>
</div>