<!doctype html>
<html lang="fr">
<!--[if lte IE 7]> <html class="no-js ie67 ie678" lang="fr"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 ie678" lang="fr"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie9" lang="fr"> <![endif]-->
<!--[if gt IE 9]> <html class="no-js" lang="fr"> <![endif]-->
{% include head.html %}
<body>
    {% include header.html %}
    
    {{ content }}

    {% include avis.html %}
    {% include footer.html %}
    {% include javascript-bottom.html %}
</body>
</html>